<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/d3.min.js')}}"></script>
    <title>Image Classification And Detection</title>


    <!-- Script to instantly classify an image once it is uploaded. -->
    <script type="text/javascript">
      $(document).ready(
        function(){
          $('#classifyfile').attr('disabled',true);
          $('#imagefile').change(
            function(){
              if ($(this).val()){
                $('#formupload').submit();
              }
            }
          );
        }
      );
    </script>
    <style type="text/css">
	div#centerDiv {
		width: 600px;
		text-align: center;
	}
	div#hidden{
		display: none;
	}
	#image-upload > input
	{
		    display: none;
	}
	.navbar{
		margin-bottom:0px;
	}
	.badge{
		font-size:20px;
	}
	.nav-tabs{
		font-size:20px;
	}
	p{
		font-size:20px;
	}
    </style>

    <!--
    <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height:1.5em;
      color: #232323;
      -webkit-font-smoothing: antialiased;
    }

    h1, h2, h3 {
      font-family: Times, serif;
      line-height:1.5em;
      border-bottom: 1px solid #ccc;
    }
    </style>
    !-->

  </head>

  <body>
    <!-- Begin page content -->
    <nav class="navbar navbar-inverse">
	    <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">	
				    <span class="sr-only">Toggle navigation</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">Image Classification And Detection</a>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-9" aria-expanded="false" style="height: 1px;">
			    <ul class="nav navbar-nav">
				    <li class="active"><a href="/">Home</a></li>
				    <li><a href="/classification">Classification</a></li>
				    <li><a href="/detection">Detection</a></li>
			    </ul>
		    </div><!-- /.navbar-collapse -->
	    </div><!-- /.container-fluid -->
    </nav>      
    <div class="jumbotron masthead">
	    <div class="container">
		    <h1>Image Classification And Detection</h1>
		    <h2 align="center">Based on Deep Learning</h2>
	    </div>
    </div>
    <div class="container">
      <div>
        <h1>Classification a image</h1>
        <a href="/classify_random">Click to choose one random example</a>
      </div>

      {% if has_result %}
      {% if not result[0] %}
      <!-- we have error in the result. -->
      <div class="alert alert-danger">{{ result[1] }} Did you provide a valid URL or a valid image file? </div>
      {% else %}
      <div class="media">
	<a class="pull-left" id="origin"></a>
	
    	<script>
		var height = 300;
		var width = 300;
		var svg = d3.select("#origin").append("svg").attr("width",width).attr("height",height);
		function draw() {
			svg.append("svg:image").attr("width", width).attr("height",height).attr("xlink:href","{{ imagesrc }} ")
		}
		draw(); 
    	</script>
	<div class="media-body">
          <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#infopred" data-toggle="tab">Accurate Result</a></li>
              <li><a href="#flatpred" data-toggle="tab"> Specific Result</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="infopred">
	        <ul class="list-group">
                  {% for single_pred in result[2] %}
		  <li class="list-group-item">
                  <span class="badge">{{ single_pred[1] }}</span>
                  <h3 class="list-group-item-heading">
			  <a href="https://www.google.com/#q={{ single_pred[0] }}" target="_blank">{{ single_pred[0] }}</a>
                  </h3>
                  </li>
                  {% endfor %}
                </ul>
              </div>
	      
	      <div class="tab-pane fade" id="flatpred">
                <ul class="list-group">
                  {% for single_pred in result[1] %}
		  <li class="list-group-item">
                  <span class="badge">{{ single_pred[1] }}</span>
                  <h3 class="list-group-item-heading">
                    <a href="https://www.google.com/#q={{ single_pred[0] }}" target="_blank">{{ single_pred[0] }}</a>
                  </h3>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
      <p> CNN took {{ result[3] }} seconds. </p>
      {% endif %}
      <hr>
      {% endif %}

      <form role="form" action="classify_url" method="get">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" name="imageurl" id="imageurl" placeholder="Provide an image URL">
            <span class="input-group-btn">
              <input class="btn btn-danger" value="Classify URL" type="submit" id="classifyurl"></input>
            </span>
          </div><!-- /input-group -->
        </div>
      </form>

      <form id="formupload" class="form-inline" role="form" action="classify_upload" method="post" enctype="multipart/form-data">
        <div class="form-group" id="image-upload">
		<label for="imagefile">Or upload an image:</br><img src="/static/img/upload.png" /></label>
		<input type="file" name="imagefile" id="imagefile">
        </div>
        <!--<input type="submit" class="btn btn-primary" value="Classify File" id="classifyfile"></input>-->
      </form>
    </div>
   </div>
   
   
   <footer class="footer" style="margin-top: 10px;border-top-width: 50px;padding-top: 300px;">
       <hr>	
       <div class="container" id="centerDiv">
        <ul class="bs-docs-footer-links text-muted list-inline" >
          <li>Currently v1.0.0</li>
          <li>·</li>
          <li><a href="https://github.com/luyifan">GitHub</a></li>
          <li>·</li>
          <li><a href="#">About</a></li>
          <li>·</li>
          <li><a href="#">Blog</a></li>
          <li>·</li>
          <li>
              <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true">&nbsp;鲁懿帆</span>
          </li>
          <li><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">&nbsp;指导老师：王东辉</span>
          </li>

        </ul>
      </div>
     </footer>
 </body>
</html>
