<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/d3.min.js')}}"></script>
    <title>Image Classification And Detection</title>


    <style type="text/css">
	div#centerDiv {
		width: 600px;
		text-align: center;
	}
	div#hidden{
		display: none;
	}
	#image-upload > input
	{
		    display: none;
	}
	.navbar{
		margin-bottom:0px;
	}
	.badge{
		font-size:20px;
	}
	.nav-tabs{
		font-size:20px;
	}
	p{
		font-size:20px;
	}
    </style>

  </head>

  <body>
    <!-- Begin page content -->
    <nav class="navbar navbar-inverse">
	    <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">	
				    <span class="sr-only">Toggle navigation</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">Image Classification And Detection</a>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-9" aria-expanded="false" style="height: 1px;">
			    <ul class="nav navbar-nav">
				    <li class="active"><a href="/">Home</a></li>
				    <li><a href="/classification">Classification</a></li>
				    <li><a href="/detection">Detection</a></li>
			    </ul>
		    </div><!-- /.navbar-collapse -->
	    </div><!-- /.container-fluid -->
    </nav>      
    <div class="jumbotron masthead">
	    <div class="container">
		    <h1>Image Classification And Detection</h1>
		    <h2 align="center">Based on Deep Learning</h2>
	    </div>
    </div>
    <div class="container">
      <div>
        <h1>Classify an image</h1>
        <a href="/classify_random">Click to choose one random example</a>
      </div>
      <form role="form" action="classify_url" method="get">
	      <div class="form-group">
		      <div class="input-group">
			      <input type="text" class="form-control" name="imageurl" id="imageurl" placeholder="Provide an image URL">
			      <span class="input-group-btn">
			   	      <input class="btn btn-danger" value="Classify URL" type="submit" id="classifyurl"></input>
			      </span>
		      </div><!-- /input-group -->
	      </div>
      </form>
     </div>
   
   
   <footer class="footer" style="margin-top: 10px;border-top-width: 50px;padding-top: 300px;">
       <hr>	
       <div class="container" id="centerDiv">
        <ul class="bs-docs-footer-links text-muted list-inline" >
          <li>Currently v1.0.0</li>
          <li>·</li>
          <li><a href="https://github.com/luyifan">GitHub</a></li>
          <li>·</li>
          <li><a href="#">About</a></li>
          <li>·</li>
          <li><a href="#">Blog</a></li>
          <li>·</li>
          <li>
              <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true">&nbsp;鲁懿帆</span>
          </li>
          <li><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">&nbsp;指导老师：王东辉</span>
          </li>

        </ul>
      </div>
     </footer>
 </body>
</html>
