<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}" >
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-theme.min.css')}}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/d3.min.js')}}"></script>
    <title>Image Classification And Detection</title>
    <!-- Script to instantly classify an image once it is uploaded. -->
    <script type="text/javascript">
      $(document).ready(
        function(){
          $('#detectfile').attr('disabled',true);
          $('#imagefile').change(
            function(){
              if ($(this).val()){
                $('#formupload').submit();
              }
            }
          );
        }
      );
    </script>
    <style type="text/css">
    	div#centerDiv {
		width: 600px;
		text-align: center;
	}
	div#hidden{
		display:none;
	}
	svg#copy{
		position:fixed;
		top: 621px;
	}
	#image-upload > input
	{
		    display: none;
	}
	.navbar{
		margin-bottom:0px;
	}
	.badge{
		font-size:20px;
	}
	.nav-tabs {
		font-size:20px;
	}
	p{
		font-size:20px;
	}
    </style>

    <!--
    <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height:1.5em;
      color: #232323;
      -webkit-font-smoothing: antialiased;
    }

    h1, h2, h3 {
      font-family: Times, serif;
      line-height:1.5em;
      border-bottom: 1px solid #ccc;
    }
    </style>
    !-->
  </head>

  <body>
    
    <nav class="navbar navbar-inverse">
	    <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">	
				    <span class="sr-only">Toggle navigation</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">Image Classification And Detection</a>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-9" aria-expanded="false" style="height: 1px;">
			    <ul class="nav navbar-nav">
				    <li><a href="/">Home</a></li>
				    <li><a href="/classification">Classification</a></li>
				    <li class="active"><a href="/detection">Detection</a></li>
				    <li><a href="/box_clustering">Box_Clustering</a></li>
				    <li><a href="/configuration">Configuration</a></li>
			    </ul>
		    </div><!-- /.navbar-collapse -->
	    </div><!-- /.container-fluid -->
    </nav>      
    <!-- Begin page content -->
    <div class="jumbotron masthead">
	    <div class="container">
		    <h1>Image Classification And Detection</h1>
		    <h2 align="center">Based on Deep Learning</h2>
	    </div>
    </div>

    <div class="container">
      {% if has_result %}
      <div>
	      <h1>The result of detection</h1>
      </div>

      {% if not result[0] %}
      <!-- we have error in the result. -->
      <div class="alert alert-danger">{{ result[1] }} Did you provide a valid URL or a valid image file? </div>
      {% else %}
      <div class="media">
        <a class="pull-left" href="#" id="origin"></a>
	<script>
		var height = {{ imagesrc[1] }};
		var width = {{ imagesrc[2] }};
		var width_copy = width;
		var height_copy = height ; 
		var svg = d3.select("#origin").append("svg").attr("width",width).attr("height",height).attr("id","org");
		function draw(){
			svg.append("svg:image").attr("id","org_image").attr("width", width).attr("height",height).attr("xlink:href","{{ imagesrc[0] }} ");
			svg_copy.append("svg:image").attr("id","copy_image").attr("width", width_copy).attr("height",height_copy).attr("xlink:href","{{ imagesrc[0] }} ").style('visibility', 'hidden');
		}
		function getPosition (element) {
			var xPosition = 0 ;
			var yPosition = 0 ;
			while (element){
				xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
			        yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
			        element = element.offsetParent;	 
			}
			return { x: xPosition, y: yPosition - 300 };
		}
		var myElement = document.getElementById("org");
		var position = getPosition(myElement);
		var svg_copy = d3.select("#origin").append("svg").attr("width",width_copy).attr("height",height_copy).attr("id","copy").attr("style","left:"+position.x+"px;top:"+position.y+"px;z-index:100;");
		draw();
	</script>
	<div class="media-body">
          <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#infopred" data-toggle="tab">Non-maximum Suppression  Result</a></li>
	      <li><a href="#flatpred" data-toggle="tab">No Suppression Result</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="infopred">
                <ul class="list-group">
                  {% for single_pred in result[1] %}
                  <li class="list-group-item">
                  <span class="badge">{{ single_pred[1] }}</span>
                  <h3 class="list-group-item-heading">
			  <a href="https://www.baidu.com/s?wd={{ single_pred[0] }}" id="prediction_{{ single_pred[2] }}" target="_blank">{{ single_pred[0] }}</a>
                  </h3>
		  <script>
			function drawBox(){
				var ymin = height * {{ single_pred[3] }};
				var ylen = height * {{ single_pred[4] }};
				var xmin = width * {{ single_pred[5] }};
				var xlen = width * {{ single_pred[6] }};
				var ymin_copy = height_copy * {{ single_pred[3] }};
				var ylen_copy = height_copy * {{ single_pred[4] }};
				var xmin_copy = width_copy * {{ single_pred[5] }};
				var xlen_copy = width_copy * {{ single_pred[6] }};
				svg.append("svg:rect").attr("id", "box_{{ single_pred[2] }}").attr("x",xmin).attr("y",ymin).attr("width",xlen).attr("height", ylen).style("fill-opacity", 0.2).style("fill","red").style("stroke-width", "5px").style("stroke", "red").style('visibility', 'hidden');
				svg_copy.append("svg:rect").attr("id", "copy_box_{{ single_pred[2] }}").attr("x",xmin_copy).attr("y",ymin_copy).attr("width",xlen_copy).attr("height", ylen_copy).style("fill-opacity", 0.2).style("fill","red").style("stroke-width", "5px").style("stroke", "red").style('visibility', 'hidden');
				var a = d3.select("#prediction_{{ single_pred[2]}}");
				a.on("mouseover",function(){
					d3.select("#copy_image").style('visibility', 'visible');
					d3.select("#org_image").style('visibility', 'hidden');
					//d3.select("#box_{{ single_pred[2] }}").style('visibility', 'visible');		
					d3.select("#copy_box_{{ single_pred[2] }}").style('visibility', 'visible');		
				}).on("mouseout",function(){
					d3.select("#copy_image").style('visibility', 'hidden');
					d3.select("#org_image").style('visibility', 'visible');
					//d3.select("#box_{{ single_pred[2] }}").style('visibility', 'hidden');
					d3.select("#copy_box_{{ single_pred[2] }}").style('visibility', 'hidden');
				});

			}
			drawBox();
		  </script>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="tab-pane fade" id="flatpred"> 
                <ul class="list-group">
                  {% for single_pred in result[2] %}
                  <li class="list-group-item">
                  <span class="badge">{{ single_pred[1] }}</span>
                  <h3 class="list-group-item-heading">
			  <a href="https://www.baidu.com/s?wd=={{ single_pred[0] }}" id="prediction_{{ single_pred[2] }}" target="_blank">{{ single_pred[0] }}</a>
                  </h3>
		  <script>
			function drawBox(){
				var ymin = height * {{ single_pred[3] }};
				var ylen = height * {{ single_pred[4] }};
				var xmin = width * {{ single_pred[5] }};
				var xlen = width * {{ single_pred[6] }};
				var ymin_copy = height_copy * {{ single_pred[3] }};
				var ylen_copy = height_copy * {{ single_pred[4] }};
				var xmin_copy = width_copy * {{ single_pred[5] }};
				var xlen_copy = width_copy * {{ single_pred[6] }};
				svg.append("svg:rect").attr("id", "box_{{ single_pred[2] }}").attr("x",xmin).attr("y",ymin).attr("width",xlen).attr("height", ylen).style("fill-opacity", 0.2).style("fill","red").style("stroke-width", "5px").style("stroke", "red").style('visibility', 'hidden');
				svg_copy.append("svg:rect").attr("id", "copy_box_{{ single_pred[2] }}").attr("x",xmin_copy).attr("y",ymin_copy).attr("width",xlen_copy).attr("height", ylen_copy).style("fill-opacity", 0.2).style("fill","red").style("stroke-width", "5px").style("stroke", "red").style('visibility', 'hidden');
				var a = d3.select("#prediction_{{ single_pred[2]}}");
				a.on("mouseover",function(){
					d3.select("#copy_image").style('visibility', 'visible');
					d3.select("#org_image").style('visibility', 'hidden');
					//d3.select("#box_{{ single_pred[2] }}").style('visibility', 'visible');		
					d3.select("#copy_box_{{ single_pred[2] }}").style('visibility', 'visible');		
				}).on("mouseout",function(){
					d3.select("#copy_image").style('visibility', 'hidden');
					d3.select("#org_image").style('visibility', 'visible');
					//d3.select("#box_{{ single_pred[2] }}").style('visibility', 'hidden');
					d3.select("#copy_box_{{ single_pred[2] }}").style('visibility', 'hidden');
				});
			}
			drawBox();
		  </script>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
      <hr style="width:1000px">      
      <p class="spendtime"> Total took {{ result[3] }} seconds. </p>
      {% endif %}
      <hr>
      {% endif %}

      <div>
        <h1>Detect an image</h1>
        <a href="/detect_random">Click to choose one random example</a>
      </div>
      <form role="form" action="detect_url" method="get">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" name="imageurl" id="imageurl" placeholder="Provide an image URL">
            <span class="input-group-btn">
            <input class="btn btn-danger" value="Detect URL" type="submit" id="detecturl"></input>
            </span>
          </div><!-- /input-group -->
        </div>
      </form>

      <form id="formupload" class="form-inline" role="form" action="detect_upload" method="post" enctype="multipart/form-data">
        
        <div class="form-group" id="image-upload">
		<label for="imagefile">Or upload an image:</br><img src="/static/img/upload.png" /></label>
		<input type="file" name="imagefile" id="imagefile">
        </div>
	<!--<input type="submit" class="btn btn-primary" value="Classify File" id="classifyfile"></input>-->
      </form>
    </div>
   </div>
   
    <footer class="footer" style="margin-top: 10px;border-top-width: 50px;padding-top: 300px;">
      <hr>
      <div class="container" id="centerDiv">
        <ul class="bs-docs-footer-links text-muted list-inline" >
          <li>Currently v1.0.0</li>
          <li>·</li>
          <li><a href="https://github.com/luyifan">GitHub</a></li>
          <li>·</li>
          <li><a href="#">About</a></li>
          <li>·</li>
          <li><a href="#">Blog</a></li>
          <li>·</li>
          <li>
              <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true">&nbsp;鲁懿帆</span>
          </li>
          <li><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">&nbsp;指导老师：王东辉</span>
          </li>

        </ul>
      </div>
    </footer>
    <div id="YOUDAO_SELECTOR_WRAPPER" style="display:none; margin:0; border:0; padding:0; width:320px; height:240px;"></div>
    <script type="text/javascript" src="http://fanyi.youdao.com/openapi.do?keyfrom=ImageSearch2&key=1564056113&type=selector&version=1.2&translate=on" charset="utf-8"></script>
</body>
</html>
